extends baseEmail

block content
  p Pozdrav #{firstName},
  p Zaboravili ste šifru? Klikom na link ispod dobit ćete mogućnost unosa nove šifre.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${urlFront}`, target='_blank') Resetuj šifru
  p Ako niste zaboravili šifru, molimo da zanemarite ovaj email!
